* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* __COMMON___ */

.top-bar {
    height: 80px;

    /* debug */
    background-color: aqua;
}

main {
    height: calc(100vh - 80px);
}

nav {
    width: 80px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
}

#main-container {
    width: calc(100% - 80px);
    height: 100%;

    /* debug */
    background-color:salmon;
}
