* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}




/* __COMMON___ */







.__top-bar {
    height: 80px;
}

a:hover {
    opacity: 0.8;
}

main {
    height: calc(100vh - 80px);
}

nav {
    width: 80px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(5, 30, 52);
}

nav li:hover {
    opacity: 0.9;
    background-color: grey;
    cursor: pointer;
}

.__blue-top-bar {
    background-color: rgb(27, 114, 232);
}

.__inside-button {
    font-size: 1.2rem;
}

.__blue-top-bar button:hover {
    background-color: white;
}

.__blue-top-bar button:hover .__inside-button {
    color: black;    
}

.__inside-main-container {
    font-size: 0.7rem;
}







@media screen and (min-width: 992px) {
    nav {
        width: 150px;
    }
}
